<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <style>
        .error { color: #bd2130; border-color: #dc3545;}
        .width { max-width: 560px; }
        .login-top h1 { font: 'Noto Sans'; font-weight: bold;}

    </style>

    <div class="width container col-6">
        <div class="login-top py-5 text-center">
            <h1>로그인</h1>
        </div>

        <form method="post" action="/login">
<!--            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
            <p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
            <div>
                <label for="userId"></label>
                <input type="text" id="userId" name="userId" class="w-100 form-control" placeholder="아이디" style="height: 54px;">
            </div>
            <div>
                <label for="userPassword"></label>
                <input type="password" id="userPassword" name="userPassword" class="w-100 form-control" placeholder="비밀번호" style="height: 54px;">
            </div>
            <hr class="my-4">

            <div class="row">
                <button type="submit" class="w-100 btn btn-lg text-white" style="background-color: #5F0080; font-size: 23px;" >로그인</button>
            </div>
            <div class="row mt-3">
                <button type="submit" class="w-100 btn btn-outline-primary btn-lg" style="color: #5F0080; height: 54px; background-color: #FFFFFF; border-color: #5F0080;" th:onclick="|location.href='@{/join}'|">회원가입</button>
            </div>

            <div class="row mt-3 justify-content-center">
                <div class="col">
                    <a role="button" id="kakao-login" th:href="@{/oauth2/authorization/kakao}" >
                        <img alt="Kakao Login" src="/images/btn_kakao.png" style="width: 80px; height: 80px;">
                    </a>
                </div>
                <div class="col text-center">
                    <a th:onclick="|location.href='@{/oauth2/authorization/naver}'|">
                        <img alt="Naver Login" src="/images/btn_naver.png" style="width: 80px; height: 80px;">
                    </a>
                </div>
                <div class="col text-center">
                    <a th:onclick="|location.href='@{/oauth2/authorization/google}'|">
                        <img src="/images/btn_google.png">
                    </a>
                </div>
            </div>


        </form>


    </div>
</div>
</html>
