<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layouts/layout}">

<div layout:fragment="content">

    <section class="py-5">

        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                <div class="col mb-5" th:each="item : ${item.content}">

                    <div class="card h-100 border-0">

                        <a th:href="'/item/' + ${item.id}" class="text-dark" style="text-decoration: none;">
                            <img class="card-img-top" th:src="@{|/upload/${item.itemImageDtos[0].storedFileName}|}" width="250">
                            <div class="card-body p-3">
                                <div class="text-left">
                                    <h5 th:text="${item.itemName}">상품이름</h5>
                                    <h6 th:text="${item.itemDetail}" style="color: #959393; font-size: 14px;">상품설명</h6>
                                    <h5 class="fw-bolder pt-2" th:text="|${item.price}원|">상품가격</h5>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>

            <div class="row">
                <nav id="pagination" aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" th:text="'previous'" th:href="@{/item(page=${item.number - 1}, searchType=${param.searchType}, searchValue=${param.searchValue})}" th:class="'page-link' + (${item.number} <= 0 ? ' disabled' : '')">Previous</a></li>
                        <li class="page-item" th:each="pageNumber : ${paginationBarNumbers}">
                            <a class="page-link" th:text="${pageNumber + 1}" th:href="@{/item(page=${pageNumber}, searchType=${param.searchType}, searchValue=${param.searchValue})}" th:class="'page-link' + (${pageNumber} == ${item.number} ? ' active' : '')">1</a>
                        </li>
                        <li class="page-item"><a class="page-link" th:text="'next'" th:href="@{/item(page=${item.number + 1}, searchType=${param.searchType}, searchValue=${param.searchValue})}" th:class="'page-link' + (${item.number} >= ${item.totalPages - 1} ? ' disabled' : '')">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>
    </section>

</div>
</html>
